rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow any authenticated user to view images
    match /users/{userId}/{allPaths=**} {
      allow read: if request.auth != null;
      // Allow a user to upload/delete their own images
      allow write: if request.auth.uid == userId;
    }
  }
}