
rules_version = '2';

// Default rules for Firebase Storage.
// These allow read and write access to authenticated users.
// You can customize these rules further based on your app's security needs.
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
